<style>
    #name {
        font-size: 30px;
        font-family: 'nyt-cheltenham','georgia','times new roman','times','serif';
    
    }
    #author {
        font-size: 18px;
        font-weight: 475;
    }
    #timeAgo {
        font-size: 18px;
        font-weight: 475;
    }
    #text {
        font-family: 'georgia';
        font-size: 20px;
        margin-left: 9%;
        margin-right: 9%;
    }
    #authorTime {
        padding-top: 5px;
    }
    
</style>

<div>
    <b id="name">{{ article?.name ?? '' }}</b>
    <div id="authorTime">
        <span id="author">{{ article?.author ?? '' }} </span>
        <span> - </span>
        <span id="timeAgo">{{ DisplayTime }}        </span> 
    </div>
    <p id="text">{{ article?.body ?? '' }}</p>

</div>
