<style>
    #name {
        font-size: 30px;
        font-family: 'nyt-cheltenham','georgia','times new roman','times','serif';
    
    }
    #author {
        font-size: 15px;
    }
    #text {
        margin-left: 5%;
        margin-right: 10%;
    }
    #authorTime {
        padding-top: 5px;
    }
    
</style>

<div>
    
    <b id="name">{{ article?.name ?? '' }}</b>
    <div id="authorTime">
        <span id="author">{{ article?.author ?? '' }} </span>
        <span id="timeAgo">{{ TimeAgo }}        </span> 
    </div>
    <p id="text">{{ article?.text ?? '' }}</p>

</div>
