#newArticleContainer {
    margin: 50px;
    height: 100%;
}

#titleField {
    width: 55%;
}

#authorField {
    width: 25%;
    margin-left: 5%;
}

#publishButton {
    width: 10%;
    height: 100%;
    margin-left: 5%;
}

#bodyContainer {
    width: 100%;
    height: 100%;
}

#bodyField {
    width: 100%;
    height: 100%;
}

:host {
    width: 100%;
    height: 100vh;
    display: block;
}