<div id="newArticleContainer">
    <h1>Publish a New Article</h1>
    <div>
        <mat-form-field appearance="outline" id="titleField">
            <mat-label>Article Title</mat-label>
            <input #tbox matInput (keyup)= "this.title = tbox.value">
        </mat-form-field>

        <mat-form-field appearance="outline" id="authorField">
            <mat-label>Article Author</mat-label>
            <input #abox matInput (keyup)= "this.author = abox.value">
        </mat-form-field>

        <button mat-stroked-button id="publishButton" (click)="onPublish()">Publish Article</button>
    </div>
    
    <div id="bodyContainer">
        <mat-form-field appearance="outline" id="bodyField">
            <mat-label>Article Body</mat-label>
            <textarea #bbox matInput rows="20" (keyup)= "this.body = bbox.value"></textarea>
        </mat-form-field>
    </div>
</div>
